* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background: #1f4969;
  padding-bottom: 20px;
}

small {
  color: #d2dbe1;
}
a {
  color: #f8d210;
  text-decoration: none;
}

p {
  margin-bottom: 10px;
}

.card {
  width: 100%;
  max-width: 900px;
  background: #355c7d;
  color: white;
  margin: 20px auto 0;
  border-radius: 20px;
  padding: 20px 10px;
  text-align: center;
  opacity: 0.8;
}
.city {
  color: #f8d210;
}
.searching {
  display: flex;
  padding: 0 0 20px;
}

.searching input {
  border: 2px solid #555;
  outline: 0;
  background: white;
  color: #555;
  padding: 10px 25px;
  height: 40px;
  border-radius: 10px;
  flex: 1;
  margin-right: 16px;
  font-size: 14px;
}

.searching button {
  border: 2px solid #555;
  outline: 0;
  background: white;
  color: #555;
  border-radius: 10px;
  width: 60px;
  height: 40px;
  cursor: pointer;
  font-size: 13px;
  padding: 1px;
}

.searching button img {
  width: 20px;
}
.weather-icon {
  width: 170px;
  margin-top: 15px;
}
.weather h1 {
  font-size: 40px;
  font-weight: 500;
}

.weather h2 {
  font-size: 45px;
  font-weight: 400;
  margin-top: -10px;
}

.details {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  padding-top: 15px;
}

.humidity,
.wind {
  font-size: 28px;
  margin-top: -6px;
}

.date {
  font-size: 15px;
  font-weight: 400;
  margin-top: 5px;
  padding: 10px;
}
.gitLink {
  margin: auto 0;
  text-align: center;
}

.description {
  padding-top: 10px;
}
@media (min-width: 767px) {
  .details {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    font-size: 20px;
  }

  .humidity,
  .wind {
    font-size: 28px;
    margin-top: -6px;
    padding: 0 20px 0 20px;
    font-size: 35px;
  }

  .weather h1 {
    font-size: 50px;
    font-weight: 500;
  }

  .date {
    font-size: 20px;
    font-weight: 400;
    margin-top: 5px;
    padding: 10px;
  }

  .searching input {
    border: 2px solid #555;
    outline: 0;
    background: white;
    color: #555;
    padding: 10px 25px;
    height: 50px;
    border-radius: 15px;
    flex: 1;
    margin-right: 16px;
    font-size: 20px;
  }

  .searching button {
    border: 2px solid #555;
    outline: 0;
    background: white;
    color: #555;
    border-radius: 15px;
    width: 60px;
    height: 50px;
    cursor: pointer;
    font-size: 13px;
    padding: 1px;
  }

  .city {
    font-size: 35px;
  }
}
