.WeatherForecast {
  text-align: center;
  padding-top: 18px;
}

.WeatherForecast-temperature-min {
  opacity: 0.6;
  margin-left: 5px;
}
@media (min-width: 767px) {
  .WeatherForecast {
    font-size: 25px;
  }
}
